form_letter = %{
  <html>
  <head>
    <title>Thank You!</title>
  </head>
  <body>
    <table>
      <tr><th>RegDate</th><th>Name</th><th>Email</th><th>Phone</th><th>Address</th><th>Disctrict</th></tr>
      <% prints.each do |row| %>
      <tr>
        <td><%="#{row[:regdate]}"%></td><td><%="#{row[:first_name] + row[:last_name]}"%></td><td><%="#{row[:email_address]}"%></td>
        <td><%="#{row[:homephone]}"%></td><td><%="#{row[:street] + row[:city] + row[:state] + row[:zipcode]}"%>
      </tr>
    <% end %>
    </table>
  </body>
  </html>
}
